:host {
  overflow: hidden;
  
  background: radial-gradient(ellipse, green 80%, black);
  height: 100%;
  color: white;
}

/deep/ player-list {
  h3 {
    color: white !important;    
  }
  /deep/ .mat-list, .mat-list-item {
    color: white !important;
  }
}

/deep/ mat-toolbar {
  display: none;
}

.start-button {
	width: 100%;
	margin-top: 10px;
}

.waitingForStart {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

.player {
	transform-origin: center center;
	width: 100%;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
}

.player0 {
	@extend .player;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transform: rotate(0deg);
}

.table {

  h4 {
    text-align: center;
  }

	.cards {
		display: flex;
    flex-direction: row;
    justify-content: center;
		// overflow: hidden;

	}
}

body {
  margin:0;
  padding:0;
  background: #000;
  overflow: hidden;
}

.statistic {
  position: absolute;
  color: white;
  background: black;
  top: 0px;
  right:0px;
}


@import './firework.scss';
@import './bird.scss';